.outerbox {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 2px solid black;
    position: relative;
    background-color: red;
    border-color: brown;
    border-style: solid;
}
.innerbox {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    position: absolute;
    background-color: aqua;
    top: 50px;
}